<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>
	
	<elmah>
		<security allowRemoteAccess="0" />
		<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/Logs" />
		<errorMail from="vistaemailsett@gmail.com" to="subramanian.u@spantechnologyservices.com" subject="Exception in Main Control - Local" priority="High" async="true" smtpPort="25" smtpServer="smtp.gmail.com" useSsl="true" userName="vistaemailsett@gmail.com" password="poiuyt2k16" noYsod="true" />
		<errorFilter>
			<test>
				<equal binding="HttpStatusCode" value="404" type="Int32" />
			</test>
		</errorFilter>
	</elmah>
	
	<connectionStrings>
		<!--Dev-->
		<add name="MainControlDB_Entities" connectionString="metadata=res://*/MainControl.csdl|res://*/MainControl.ssdl|res://*/MainControl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=150.136.136.51;initial catalog=SpanControl_Dev;persist security info=True;user id=SpanControlDB_User;password=$p@ncontrolDev$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--Dev-->
	</connectionStrings>
	
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="elmah.mvc.disableHandler" value="false" />
		<add key="elmah.mvc.disableHandleErrorFilter" value="false" />
		<add key="elmah.mvc.requiresAuthentication" value="false" />
		<add key="elmah.mvc.allowedRoles" value="*" />
		<add key="elmah.mvc.route" value="elmah" />
		<add key="AdminEmail" value="vistaemails990@gmail.com" />
		<add key="SalesAPIBaseAddress" value="http://localhost:4745" />
		<add key="SalesUrl" value="http://sales.com:29474/Admin/SignIn?" />
		<add key="SalesLogOffUrl" value="http://sales.com:29474/Admin/LogOffSales?" />
		<add key="BizUrl" value="http://masteradmin.dotnetethic.com/" />
		<add key="TaxUrl" value="http://localhost:777/Admin/SignIn?" />
		<add key="TaxLogOffUrl" value="http://localhost:777/Admin/SignOut?" />
		<add key="MailFromAddress" value="vistaemails990@gmail.com" />
		<add key="PasswordVista" value="poiuyt16" />
		<add key="MailHost" value="smtp.gmail.com" />
		<add key="SiteName" value="ExpressTruckTax.com" />
		<add key="IsSMTP" value="false" />
		<add key="SupportEmail" value="subramanian.u@spantechnologyservices.com" />
		<add key="SupportPhone" value="1-800-000-0000" />
		<add key="IsMailBCC" value="true" />
		<add key="MailBCCIds" value="subramanian.u@spantechnologyservices.com" />
		<add key="FaxFromAddress" value="subramanian.u@spantechnologyservices.com" />
		<add key="FaxServerName" value="@myfax.com" />
		<add key="EmailAd" value="&lt;img src='http://secure.expresstrucktax.com/Content/Images/emailAd.gif' alt='' title='' /&gt;" />
		<add key="AWSAccessKey" value="AKIAYXIC4SMHQ6UZOO4F" />
		<add key="AWSSecretKey" value="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" />
		<add key="IsAWS_SES_Email" value="true" />
		<add key="UserDownloadsPath" value="C:\temp\UserDownloads" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="SiteURL" value="http://etts.filehvut.com/User/AdminLogin/" />
		<add key="UseMainControlIpRestrict" value="false" />
		<add key="MainControlNoAccess" value="http://localhost:44319/admin/noaccess" />
		<!-- AWS SES Email settings -->
		<add key="InvokeDoubleParameter" value="true" />
		<add key="CrossDomainUrlCurrent" value="http://localhost:6116/Admin/SignIn?product=tax&amp;" />
		<add key="LogOffUrl" value="http://localhost:6116/Admin/SignOut?" />
		<add key="UseSpanControl" value="false" />
		<add key="MainUtilService" value="http://key.spanllc.com/SpanWebService.asmx" />
		<add key="CreditPDFHtmlFilePath" value="D:\Projects\ETT.ControlSystem\Main.Control.Web\Content\CreditVehicles.htm" />
		<add key="PDFHtmlFilePath" value="D:\Projects\ETT.ControlSystem\Main.Control.Web\Content\TaxableVehicles_100.htm" />
		<add key="Address" value="2460, India Hook Road, Suite 102 " />
		<add key="City" value="RockHill" />
		<add key="State" value="SC" />
		<add key="Zip" value="29732" />
		<!--Main Control Base URL-->
		<add key="ETTBaseURL" value="http://scett.fileafter.com/" />
		
		<!--Efile BaseURL-->
		<add key="ETTefileBaseURL" value="http://localhost:29283" />
		<add key="ETTBPefileBaseURL" value="http://localhost:29283" />
		<add key="ETTefileMobileBaseURL" value="http://localhost:10202/" />
		<!--Tools BaseURL-->
		<add key="MefWSBaseURL" value="http://localhost:11109" />
		
		<!--Main Control Base URL-->
		<!-- Twillio -->
		<add key="AccountSID" value="ACb0aa219aa3c7bcb6b8df80ae9fc1f456" />
		<add key="AuthToken" value="f2863b9c8c20ffc9e5a1c2a8014370c1" />
		<add key="SenderNumber" value="+19802017805" />
		<add key="TwillioCallBackURL" value="http://scetf.fileafter.com/" />
		<add key="IsTextLive" value="false" />
		<!--Main Control Base URL-->
		<add key="NoAccessUrl" value="https://localhost:44319/admin/noaccess" />
		<!-- Google AuthCall code by subramanian.u@spantechnologyservices.com-->
		<add key="GoogleCallbackUrl" value="https://localhost:44319/Admin/GoogleCallback" />
		<add key="GoogleConsumerKey" value="126370340566-279s9sd4ej109p2rpa2asmjn2qe0epug.apps.googleusercontent.com" />
		<add key="GoogleConsumerSecret" value="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" />
		<add key="MicrosoftCallbackUrl" value="http://localhost:44319/Admin/MicrosoftCallBack" />
		<add key="MicrosoftClientId" value="de3b60aa-79b7-4b54-a209-7fcb3b626d8e" />
		<add key="MicrosoftClientSecret" value="toU8Q~P1~TDVYQz8gk56t4NpIKzCuOUhvIIaYbrI" />
		<add key="IsSSLEnabled" value="true" />
		<add key="Is_AWS_ELB" value="false" />
		<add key="IsLive" value="false" />
		<add key="IsLocal" value="true" />
		<add key="IsRemoteRequired" value="false" />
		<add key="CacheExpiryTime" value="30" />
		<add key="AdminImportFolderPath" value="C:\AdminImportFolderPath" />
		<add key="InvokeJetOLEDB" value="false" />
		<add key="MainControlURL" value="http://localhost:44319" />
		<add key="GoogleMapApiKey" value="AIzaSyBYA7fm8SpKxDWlNmcK_4LjP6yndoyxPKc" />
		<add key="BulkUploadCount" value="101" />
		<!--Plivo-->
		<add key="UsePlivoToText" value="false" />
		<add key="PlivoAuthId" value="MANJC4NZJMYZVLMWU0MT" />
		<add key="PlivoAuthToken" value="Y2M5Mjc0MTBmOTBiYzBkNmVmYWNmMTQyMmIyYmNh" />
		<add key="PlivoNumber" value="919750890507" />
		<!-- If it is India 91 will be given else leave empty for US country code 1 will be considered automatically-->
		<add key="PlivoTestExt" value="91" />
		<!--ETTAPI-->
		<add key="ETTAPI" value="http://localhost:63802/" />
		<add key="ETTAppId" value="SqEcjggux7EVYYymNtKB4eA2P" />
		<add key="ETTAPIPublicKey" value="uQd4DzZCCdGuvxc" />
		<add key="ETTAPIPrivateKey" value="ToKtlNrM9GrZHRE" />
		<add key="umbracoUseSSL" value="true" />
		<add key="ETTSUPPORTADMINBASEURL" value="" />
		<add key="EESUPPORTADMINBASEURL" value="" />
		<add key="ServiceControlCeneterBaseUrl" value="" />
		<add key="ExpressNotifyBaseUrl" value="https://localhost:44361" />
		<add key="ExpressSupportBaseUrl" value="https://localhost:58446" />
		<add key="PaymentLibConnStr" value="data source=129.213.79.67;initial catalog=Spanlibrary_Dev;persist security info=True;user id=spanlibraryuser;password=SpanL!br@ryU$er;multipleactiveresultsets=True;" />
		<add key="PayWowSymmetryComplianceBaseURL" value="http://symmetrycompliance.payrollstaging.com" />
		<add key="BucketName" value="expresstrucktax-dev" />
		<add key="PaymentAPI" value="http://payments.efile4taxes.com/" />
		<add key="ApplicationRefundImpProductCodes" value="ETT,PSLIP" />
		<add key="TwoFactorKey" value="uQd4DzZCCdGuvxcYymNtKB4evxc" />
		<add key="AuthenticatorAppName" value="maincontrol" />
		<add key="IsAuthenticatorEnabled" value="true" />
		<!-- Only these AdminUser Ids are allowed to reset the Authentication for the User using authenticator App-->
		<add key="ResetAuthenticatorApp" value="113" />
		<add key="IsMicrosoftSignIn" value="true" />
		<!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

    <add key="AWSProfileName" value="" />
-->
		<add key="ETTConnStr" value="data source=192.168.100.220;initial catalog=ExpressTruckTaxDB_Local;user id=sa;password=Chennai@2018#;" />
		<add key="TBSConnStr" value="data source=192.168.100.220;initial catalog=TaxlogicsDB_Local;user id=sa;password=Chennai@2018#;" />
		<add key="EEConnStr" value="data source=192.168.100.220;initial catalog=ExpressExtensionDB_Local;user id=sa;password=Chennai@2018#;" />

		<add key="PaymentsAccessEmails" value="" />
		<add key="S3BaseUrl" value="https://expresstrucktax-dev.s3.amazonaws.com/" />
		<add key="S3AnotherFileBaseUrl" value="https://s3.amazonaws.com/expresstrucktax-dev" />
		<add key="ExpressPaymentSessionEncryptionKey" value="eXpre$$p@ymenT2021$Crypto#Key" />
		<add key="IsShowUSUsersOnly" value="false" />

		<add key="TBSAppConnStr" value="data source=192.168.100.220;initial catalog=ExpressTaxFilingsDB_Local;user id=sa;password=Chennai@2018#;" />
		<add key="WfgTbsMerchantCode" value="wfgextrucktax" />
		<add key="WfgETTMerchantCode" value="wfgextrucktax" />
		<add key="WfgEefMerchantCode" value="wfgexefile" />
		<add key="WfgExpressExtensionMerchantCode" value="wfgextrucktax" />

		<add key="WfgRemittanceDate" value="03/04/2021" />
		<add key="ETTBucketName" value="expresstrucktax-dev" />
		<add key="PaymentBatchDetailReport" value="D:\Projects\ETT.ControlSystem\Main.Control.Web\Template\\PaymentBatchDetailReport (4).csv" />
		<add key="BestPassEmailIds" value="subramanian.u@spantechnologyservices.com" />
	</appSettings>
	
	<system.web>
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1" />
		<authentication mode="Forms">
			<forms loginUrl="~/Admin/SignIn" timeout="2880" enableCrossAppRedirects="true" name=".ASPXAUTH" ticketCompatibilityMode="Framework40" />
		</authentication>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
		</httpHandlers>
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
		</httpModules>
	</system.web>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
		</modules>
	</system.webServer>
	
	<location path="elmah.axd" inheritInChildApplications="false">
		<system.web>
			<httpHandlers>
				<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
			</httpHandlers>
			<!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
		</system.web>
		<system.webServer>
			<handlers>
				<add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
			</handlers>
		</system.webServer>
	</location>
	
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	
</configuration>