@using System.Web.Mvc
@using Main.Control.Utilities.Infrastructure

@{
    ViewBag.Title = "Create Campaign";

}


<div class="page-header">
    <div class="page-head">
        <h2 class="floatL">
          <span>  @ViewBag.Title</span>
        </h2>
    </div>
</div>

<div class="clear">
</div>

    <div class="col-md-12">

        <div class="mainBg">
            <div class="taC">
                <div class="successMsg">
                    <label class="success">
                        The technical team has been notified, you will be notified once the Campaign file has been uploaded.
                    </label>
                </div>
                <div class="spacer20"></div>
                <div class="taC centerBtn">
                    <a class="btn btn-primary" href="/Campaign/Index/@Session[SessionItemKey.AdminCategoryId] ">Go to Campaign Dashboard</a>
                </div>
            </div>
        </div>
    </div>
<div class="clear">
</div>
<script>
    </script>
