@using ExpressACAForms.Localization.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@UserText.Error</title>
</head>
<body>
    <hgroup>
        <h1>@UserText.Error.</h1>
        <h2>@UserText.Anerroroccurred</h2>
    </hgroup>
</body>
</html>
