<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
	  <add name="MainControlDB_Entities" connectionString="metadata=res://*/MainControl.csdl|res://*/MainControl.ssdl|res://*/MainControl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=150.136.136.51;initial catalog=SpanControl_Dev;persist security info=True;user id=SpanControlDB_User;password=$p@ncontrolDev$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="TimerInterval" value="1500" />
    <add key="EventLogSource" value="Campaign upload Service" />
    <add key="MailHost" value="smtp.gmail.com" />
    <add key="IsSMTP" value="false" />
    <add key="ExceptionFromMail" value="vistaemailsett@gmail.com" />
    <add key="ExceptionMailPassword" value="poiuyt16" />
    <add key="PasswordVista" value="poiuyt16" />
    <add key="ExceptionToMail" value="subramnian.u@spantechnologyservices.com" />
    <add key="ExceptionMailSubject" value="Exception Campaign upload Service" />
    <add key="SupportEmail" value="etfdev@spanenterprises.com" />
    <add key="IsMailBCC" value="true" />
    <add key="MailBCCIds" value="subramnian.u@spantechnologyservices.com" />
    <!-- Change App Status - End -->
    <add key="MailFromAddress" value="vistaemailsett@gmail.com" />
    <add key="SiteName" value="maincontrol.com" />
    <add key="SupportPhone" value="1-800-000-0000" />
    <add key="SiteURL" value="http://sprint-secure.filehvut.com/User/AdminLogin/" />
    <add key="EmailAd" value="&lt;img src='http://secure.expresstrucktax.com/Content/Images/emailAd.gif' alt='' title='' /&gt;" />
    <add key="ACAXmlSupportPhone" value="704.684.4758" />
    <add key="TaxYear" value="2015" />
    <!-- AWS SES Email settings-->
    <add key="IsAWS_SES_Email" value="true" />
    <add key="AWSAccessKey" value="AKIAJN54CCE5EXORUJCQ" />
    <add key="AWSSecretKey" value="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" />
    <!-- AWS SES Email settings -->
    <add key="InvokeDoubleParameter" value="true" />
    <!--Email Attachments-->
    <add key="EmailAttachmentsPath" value="C:\temp\EmailAttachmentsPath" />
    <add key="InvokeJetOLEDB" value="false" /> 

    <add key="MainControlURL" value="http://localhost:2353" />
    <add key="DefaultEntryTime" value="4:29" />
    <add key="AdminUserId" value="30" />
    <add key="SupportUserIds" value="30" />
    <add key="CampaignDetailId" value="565" />
    
    <!--ETT API-->
    <add key="ETTAPI" value="http://localhost:63802/" />
    <add key="ETTAppId" value="SqEcjggux7EVYYymNtKB4eA2P:0EE57E558333E94468C4B074F" />
    <add key="ETTAPIPublicKey" value="uQd4DzZCCdGuvxc" />
    <add key="ETTAPIPrivateKey" value="ToKtlNrM9GrZHRE" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
